<h1>Review</h1>
<% @reviews.each do |review| %>

  <p>Reviewer: <%= review.user_id %></p>
  <p>Room: <%= review.room_id %></p>
  <p>Rating: <%= review.rating %></p>
  <p>Comment: <%= review.comment %></p>
<% end %>